{
 "swagger": "2.0",
 "info": {
  "version": "1.0.0",
  "title": "playerapi.endpoints.leavethehouseoutofit.cloud.goog"
 },
 "host": "playerapi.endpoints.leavethehouseoutofit.cloud.goog",
 "basePath": "/_ah/api",
 "schemes": [
  "https"
 ],
 "consumes": [
  "application/json"
 ],
 "produces": [
  "application/json"
 ],
 "paths": {
  "/playerapi/v1/bet/{team_name}/{league_season_id}/{firebase_uid}/{week}": {
   "delete": {
    "operationId": "PlayerapiDeleteBet",
    "parameters": [
     {
      "name": "team_name",
      "in": "path",
      "required": true,
      "type": "string"
     },
     {
      "name": "league_season_id",
      "in": "path",
      "required": true,
      "type": "integer",
      "format": "int32"
     },
     {
      "name": "firebase_uid",
      "in": "path",
      "required": true,
      "type": "string"
     },
     {
      "name": "week",
      "in": "path",
      "required": true,
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "A successful response"
     }
    }
   }
  },
  "/playerapi/v1/cronJob": {
   "post": {
    "operationId": "PlayerapiCronJob",
    "parameters": [ ],
    "responses": {
     "200": {
      "description": "A successful response"
     }
    }
   }
  },
  "/playerapi/v1/health": {
   "get": {
    "operationId": "PlayerapiGetStatus",
    "parameters": [ ],
    "responses": {
     "200": {
      "description": "A successful response",
      "schema": {
       "$ref": "#/definitions/Health"
      }
     }
    }
   }
  },
  "/playerapi/v1/me/{firebase_uid}": {
   "get": {
    "operationId": "PlayerapiGetMe",
    "parameters": [
     {
      "name": "firebase_uid",
      "in": "path",
      "required": true,
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "A successful response",
      "schema": {
       "$ref": "#/definitions/Me"
      }
     }
    }
   }
  },
  "/playerapi/v1/newAuth/{firebase_uid}/{user_id}": {
   "post": {
    "operationId": "PlayerapiNewAuth",
    "parameters": [
     {
      "name": "firebase_uid",
      "in": "path",
      "required": true,
      "type": "string"
     },
     {
      "name": "user_id",
      "in": "path",
      "required": true,
      "type": "integer",
      "format": "int32"
     }
    ],
    "responses": {
     "200": {
      "description": "A successful response",
      "schema": {
       "$ref": "#/definitions/Me"
      }
     }
    }
   }
  },
  "/playerapi/v1/newUser/{firebase_uid}/{fname}/{lname}/{linitial}/{email}/{invite}": {
   "post": {
    "operationId": "PlayerapiNewUser",
    "parameters": [
     {
      "name": "firebase_uid",
      "in": "path",
      "required": true,
      "type": "string"
     },
     {
      "name": "fname",
      "in": "path",
      "required": true,
      "type": "string"
     },
     {
      "name": "lname",
      "in": "path",
      "required": true,
      "type": "string"
     },
     {
      "name": "linitial",
      "in": "path",
      "required": true,
      "type": "string"
     },
     {
      "name": "email",
      "in": "path",
      "required": true,
      "type": "string"
     },
     {
      "name": "invite",
      "in": "path",
      "required": true,
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "A successful response",
      "schema": {
       "$ref": "#/definitions/Me"
      }
     }
    }
   }
  },
  "/playerapi/v1/playercollection/{league_season_id}": {
   "get": {
    "operationId": "PlayerapiGetPlayers",
    "parameters": [
     {
      "name": "league_season_id",
      "in": "path",
      "required": true,
      "type": "integer",
      "format": "int32"
     }
    ],
    "responses": {
     "200": {
      "description": "A successful response",
      "schema": {
       "$ref": "#/definitions/PlayerCollection"
      }
     }
    }
   }
  },
  "/playerapi/v1/setBet/{team_name}/{league_season_id}/{firebase_uid}/{week}": {
   "post": {
    "operationId": "PlayerapiSetBet",
    "parameters": [
     {
      "name": "team_name",
      "in": "path",
      "required": true,
      "type": "string"
     },
     {
      "name": "league_season_id",
      "in": "path",
      "required": true,
      "type": "integer",
      "format": "int32"
     },
     {
      "name": "firebase_uid",
      "in": "path",
      "required": true,
      "type": "string"
     },
     {
      "name": "week",
      "in": "path",
      "required": true,
      "type": "string"
     }
    ],
    "responses": {
     "200": {
      "description": "A successful response",
      "schema": {
       "$ref": "#/definitions/Bet"
      }
     }
    }
   }
  },
  "/playerapi/v1/week/{firebase_uid}/{week}/{league_season_id}": {
   "get": {
    "operationId": "PlayerapiGetWeek",
    "parameters": [
     {
      "name": "firebase_uid",
      "in": "path",
      "required": true,
      "type": "string"
     },
     {
      "name": "week",
      "in": "path",
      "required": true,
      "type": "string"
     },
     {
      "name": "league_season_id",
      "in": "path",
      "required": true,
      "type": "integer",
      "format": "int32"
     }
    ],
    "responses": {
     "200": {
      "description": "A successful response",
      "schema": {
       "$ref": "#/definitions/Week"
      }
     }
    }
   }
  }
 },
 "definitions": {
  "Bet": {
   "properties": {
    "against_City": {
     "type": "string"
    },
    "against_Team": {
     "type": "string"
    },
    "id": {
     "type": "integer",
     "format": "int32"
    },
    "isHouseBet": {
     "type": "integer",
     "format": "int32"
    },
    "league_Season_ID": {
     "type": "integer",
     "format": "int32"
    },
    "line": {
     "type": "number",
     "format": "double"
    },
    "picked_City": {
     "type": "string"
    },
    "picked_Team": {
     "type": "string"
    },
    "result": {
     "type": "string"
    },
    "start": {
     "type": "string",
     "format": "date-time"
    },
    "user_id": {
     "type": "integer",
     "format": "int32"
    },
    "week_Long": {
     "type": "string"
    },
    "week_Number": {
     "type": "integer",
     "format": "int32"
    },
    "week_Short": {
     "type": "string"
    }
   }
  },
  "Player": {
   "properties": {
    "email": {
     "type": "string"
    },
    "fname": {
     "type": "string"
    },
    "league_season_id": {
     "type": "integer",
     "format": "int32"
    },
    "linitial": {
     "type": "string"
    },
    "losses": {
     "type": "integer",
     "format": "int32"
    },
    "pushes": {
     "type": "integer",
     "format": "int32"
    },
    "winnings": {
     "type": "number",
     "format": "double"
    },
    "wins": {
     "type": "integer",
     "format": "int32"
    }
   }
  },
  "Game": {
   "properties": {
    "away_bets": {
     "type": "array",
     "items": {
      "$ref": "#/definitions/Player"
     }
    },
    "away_city": {
     "type": "string"
    },
    "away_score": {
     "type": "integer",
     "format": "int32"
    },
    "away_team": {
     "type": "string"
    },
    "freeze": {
     "type": "string",
     "format": "date-time"
    },
    "home_bets": {
     "type": "array",
     "items": {
      "$ref": "#/definitions/Player"
     }
    },
    "home_city": {
     "type": "string"
    },
    "home_line": {
     "type": "number",
     "format": "double"
    },
    "home_score": {
     "type": "integer",
     "format": "int32"
    },
    "home_team": {
     "type": "string"
    },
    "id": {
     "type": "integer",
     "format": "int32"
    },
    "isFinished": {
     "type": "integer",
     "format": "int32"
    },
    "isLocked": {
     "type": "integer",
     "format": "int32"
    },
    "mins_remaining": {
     "type": "integer",
     "format": "int32"
    },
    "secs_remaining": {
     "type": "integer",
     "format": "int32"
    },
    "start": {
     "type": "string",
     "format": "date-time"
    },
    "user_net_home_bet": {
     "type": "number",
     "format": "double"
    }
   }
  },
  "Health": {
   "properties": {
    "status": {
     "type": "string"
    }
   }
  },
  "Me": {
   "properties": {
    "email": {
     "type": "string"
    },
    "fname": {
     "type": "string"
    },
    "leagues": {
     "type": "array",
     "items": {
      "$ref": "#/definitions/League_Season"
     }
    },
    "linitial": {
     "type": "string"
    },
    "lname": {
     "type": "string"
    },
    "losses": {
     "type": "integer",
     "format": "int32"
    },
    "pushes": {
     "type": "integer",
     "format": "int32"
    },
    "winnings": {
     "type": "number",
     "format": "double"
    },
    "wins": {
     "type": "integer",
     "format": "int32"
    },
    "wlong": {
     "type": "string"
    },
    "wshort": {
     "type": "string"
    }
   }
  },
  "PlayerCollection": {
   "properties": {
    "items": {
     "type": "array",
     "items": {
      "$ref": "#/definitions/Player"
     }
    }
   }
  },
  "Week": {
   "properties": {
    "games": {
     "type": "array",
     "items": {
      "$ref": "#/definitions/Game"
     }
    },
    "long_Name": {
     "type": "string"
    },
    "number": {
     "type": "integer",
     "format": "int32"
    },
    "season": {
     "type": "integer",
     "format": "int32"
    },
    "short_Name": {
     "type": "string"
    },
    "start": {
     "type": "string",
     "format": "date-time"
    }
   }
  },
  "League_Season": {
   "properties": {
    "league_Name": {
     "type": "string"
    },
    "league_Season_ID": {
     "type": "integer",
     "format": "int32"
    },
    "losses": {
     "type": "integer",
     "format": "int32"
    },
    "num_Players": {
     "type": "integer",
     "format": "int32"
    },
    "position": {
     "type": "integer",
     "format": "int32"
    },
    "pushes": {
     "type": "integer",
     "format": "int32"
    },
    "season": {
     "type": "integer",
     "format": "int32"
    },
    "winnings": {
     "type": "number",
     "format": "double"
    },
    "wins": {
     "type": "integer",
     "format": "int32"
    }
   }
  }
 }
}